<?xml version="1.0" encoding="utf-8" ?>
<ForumBuddy configVersion="1.0">
  <Sources>
    <Source type="ForumBuddy.MsdnThreadInfoSource">
      <SourceConfig>
        <ForumUrl></ForumUrl>
        <PollingIntervalSeconds>600</PollingIntervalSeconds>
        <MaxNewThreads>1</MaxNewThreads>
      </SourceConfig>
    </Source>
  </Sources>
  <Sinks>
    <Sink type="ForumBuddy.SlackThreadInfoSink">
      <SinkConfig>
        <WebhookUrl></WebhookUrl>
        <Channel></Channel>
        <UserName></UserName>
        <IconUrl></IconUrl>
      </SinkConfig>
    </Sink>
  </Sinks>
</ForumBuddy>
