<?xml version="1.0" encoding="utf-8" ?>
<ForumBuddy configVersion="1.0">
  <Sources>
    <Source type="ForumBuddy.MsdnThreadInfoSource">
      <SourceConfig name="ForumBuddy_SampleSource">
        <ForumUrl></ForumUrl>
        <PollingIntervalSeconds>600</PollingIntervalSeconds>
        <MaxNewThreads>1</MaxNewThreads>
        <HighPriorityThreshold>-1</HighPriorityThreshold>
      </SourceConfig>
    </Source>
  </Sources>
  <Sinks>
    <Sink type="ForumBuddy.SlackThreadInfoSink">
      <SinkConfig name="ForumBuddy_SampleSink">
        <WebhookUrl></WebhookUrl>
        <Channel></Channel>
        <UserName>Forum Buddy</UserName>
        <IconUrl></IconUrl>
        <MessageBody></MessageBody>
        <ThreadPriorities>High</ThreadPriorities>
      </SinkConfig>
    </Sink>
  </Sinks>
</ForumBuddy>
